<div class="well well-lg">
	<h2>How do you want to describe your area of interest</h2>
	<div class="form-group">
		<select class="form-control">
			<option value="location">Pick project location and radius</option>
			<option value="aoiBox">Create a box</option>
		</select>
	</div>
</div>