<div>
	<div class="form-group">
		<label for="datasets-select">Datasets</label>
		<select id="datasets-select" class="form-control" multiple style="width: 100%">
			<option value="GLCFS_ERIE">Great Lakes Coastal Forecasting System - Erie</option>
			<option value="GLCFS_HURON">Great Lakes Coastal Forecasting System - Huron</option>
			<option value="GLCFS_MICHIGAN">Great Lakes Coastal Forecasting System - Michigan</option>
			<option value="GLCFS_ONTARIO">Great Lakes Coastal Forecasting System - Ontario</option>
			<option value="GLCFS_SUPERIOR">Great Lakes Coastal Forecasting System - Superior</option>
			<option value="NWIS">USGS Time Series (NWIS)</option>
			<option value="PRECIP">1 Hr National Precipitation Grid Points</option>
			<option value="ACIS">Applied Climate Information System</option>
		</select>
	</div>
	<div class="date-filter-container"></div>
</div>
