<div>
	<div class="form-group">
		<label for="datasets-select">Datasets</label>
		<select id="datasets-select" class="form-control" multiple>
			<option value="NWIS">USGS Time Series (NWIS)</option>
			<option value="PRECIP">1 Hr National Precipitation Grid Points</option>
			<option value="ACIS">Applied Climate Information System</option>
		</select>
	</div>
	<div class="form-group">
		<label for="radius">Radius</label>
		<input id="radius" class="form-control" type="number" min="0" max="500" step="any" value="{{radius}}"/>
	</div>
	<div>
		<div class="form-group">
			<label>Date Range (optional)</label>
			<div class="form-inline">
				<label for="start-date">Start:&nbsp;</label>
				<div class="input-group date" id="start-date-div" >
					<input type="text" id="start-date" class="form-control" size="10"/>
					<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
				</div>
				<label for="end-date">End:&nbsp;</label>
				<div class="input-group date" id="end-date-div">
					<input type="text" id="end-date" class="form-control" size="10"/>
					<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
				</div>
			</div>
		</div>
	</div>
</div>