<div>
	<div class="form-group">
		<label for="radius">Radius</label>
		<input id="radius" class="form-control" type="number" min="0" max="500" step="any" value="{{radius}}"/>
	</div>
	<div class="form-group">
		<label for="datasets-select">Datasets</label>
		<select id="datasets-select" class="form-control" multiple>
			<option value="NWIS">USGS Time Series (NWIS)</option>
			<option value="PRECIP">1 Hr National Precipitation Grid Points</option>
		</select>
	</div>
</div>