<div>
	<div class="form-group">
		<label for="datasets-select">Data Sources</label>
		<select id="datasets-select" class="form-control" multiple style="width: 100%">
			<option class="glcfs-option" value="GLCFS">Great Lakes Coastal Forecasting System</option>
			<option class="nwis-option" value="NWIS">USGS Time Series (NWIS)</option>
			<option class="precip-option" value="PRECIP">1 Hr National Precipitation Grid Points</option>
			<option class="acis-option" value="ACIS">Applied Climate Information System</option>
		</select>
	</div>
	<div class="glcfs-lake-select-modal modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Select a lake</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label>Great Lake</label>
						<select class="form-control">
							<option></option>
							<option value="Erie">Erie</option>
							<option value="Huron">Huron</option>
							<option value="Michigan">Michigan</option>
							<option value="Ontario">Ontario</option>
							<option value="Superior">Superior</option>
						</select>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="date-filter-container"></div>
        <div class="hint-div">
            <em>
		After sources of interest are chosen, click sites on 
                the map to see available variables.
            </em>
    </div>
</div>
