<div class="panel panel-default">
	<div class="panel-heading">
		{{panelHeading}}
		<button class="collapse-btn" data-toggle="collapse" data-target="#{{panelBodyId}}" type="button">
			<i class="expand-icon fa fa-plus"></i>
			<i class="collapse-icon fa fa-minus"></i>
		</button>
	</div>
	<div class="panel-body collapse" id="{{panelBodyId}}">
	</div>
</div>