<div class="workflow-nav"></div>
<div class="workflow-content-container">
	<div class="row entry-panels-div">
		<div class="location-panel"></div>
		<div class="choose-panel"></div>
	</div>
	<i class="loading-indicator fa-4x fa fa-spinner fa-spin"></i>
	<div class="alert-loading-container">
		<div class="alert-container"></div>
	</div>
	<div class="map-container-div"></div>
</div>
	