<div class="workflow-nav"></div>
<div class="workflow-content-container">
	<div class="well well-lg workflow-start-container collapse">
		<h2>How do you want to describe your area of interest</h2>
		<div class="form-group">
			<select class="form-control">
				<option value=""></option>
				<option value="location">Pick project location and radius</option>
				<option value="aoiBox">Create a box</option>
				<option value="aoiShpFile">Upload a Shapefile</option>
			</select>
		</div>
	</div>
	<div class="row entry-panels-div">
		<div class="location-panel"></div>
		<div class="choose-panel"></div>
	</div>
	<div class="alert-loading-container">
		<i class="loading-indicator fa-3x fa fa-spinner fa-spin"></i>
		<div class="alert-container"></div>
	</div>
	<div class="map-container-div"></div>
	<div class="variable-summary-container"></div>
	<div class="process-data-container"></div>
</div>
	