<div class="workflow-nav"></div>
<div class="workflow-content-container">
	<div class="well well-lg workflow-start-container collapse">
		<h2>How do you want to describe your area of interest?</h2>
		<div class="hint-div">
			<em>
				Data discovery can be done through a bounding box or a site 
				location and radius. Each option includes the option to upload
				a zipped shapefile as a visual reference.
			</em>
		</div>
		<div class="aoi-tiles-container hidden-xs">
			<a href="#" class="location-aoi-btn" title="Pick a location and search radius." data-toggle="tooltip" data-placement="top">
				<img src="img/pointselectai.jpg" alt="Pick a location and search radius." />
			</a>
			<a href= "#" class="box-aoi-btn" title="Draw a box." data-toggle="tooltip" data-placement="top">
				<img src="img/areaselect.jpg" alt="Draw a box."  />
			</a>
		</div>
		<div class="aoi-buttons-container visible-xs-block">
			<button class="btn btn-default location-aoi-btn">Pick a location and search radius</button>
			<button class="btn btn-default box-aoi-btn">Draw a box</button>
		</div>
	</div>
	<div class="row entry-panels-div">
		<div class="location-panel"></div>
		<div class="choose-panel"></div>
	</div>
	<div class="alert-loading-container">
		<i class="loading-indicator fa-3x fa fa-spinner fa-spin"></i>
		<div class="alert-container"></div>
	</div>
	<div class="map-container-div"></div>
	<div class="variable-summary-container"></div>
	<div class="process-data-container"></div>
</div>
	