<div class="workflow-nav"></div>
<div class="workflow-content-container">
	<div class="entry-panels-div">
		<div class="location-panel"></div>
	</div>
	<div class="map-container-div">
		<div id="map-div"></div>
	</div>
</div>
	