<div class="location-hint-div"><em>Click on the map to create a marker for your location. Drag the marker to change the location.</em>
</div>
<div>
	<div class="form-group">
		<label for="latitude">Latitude</label>
		<input id="latitude" class="form-control" type="number" min="-79.0" max="79.0" step="any" value="{{latitude}}"/>
	</div>
	<div class="form-group">
		<label for="longitude">Longitude</label>
		<input id="longitude" class="form-control" type="number" min="-180.0" max="180.0" step="any" value="{{longitude}}"/>
	</div>
	<button class="btn btn-default btn-sm use-location-btn" type="button">Use my location</button>
</div>