<div class="location-hint-div">
        <em>
            Click on the map to create a marker. 
            Drag the marker to move it. 
            You can also type in the fields below. 
            Enter a radius and click Choose Data on the left when ready.
        </em>
</div>
<div>
	<div class="form-group">
		<label for="latitude">Latitude</label>
		<input id="latitude" class="form-control" type="number" min="-79.0" max="79.0" step="any" value="{{latitude}}"/>
	</div>
	<div class="form-group">
		<label for="longitude">Longitude</label>
		<input id="longitude" class="form-control" type="number" min="-180.0" max="180.0" step="any" value="{{longitude}}"/>
	</div>
	<button class="btn btn-default btn-sm use-location-btn" type="button">Use my location</button>
	<div class="form-group">
		<label for="radius">Radius (mi)</label>
		<input id="radius" class="form-control" type="number" min="0" max="500" step="any" value="{{radius}}"/>
	</div>
	<div class="shapefile-upload-div"></div>
</div>