<div class="panel panel-default">
	<div class="panel-heading">Choose Location</div>
	<div class="panel-body">
		<div>Create a location on the map by single clicking to create a marker. The location can be updated by
			dragging the marker.
		</div>
		<div>
			<label for="latitude">Latitude</label>
			<input id="latitude" type="number" min="-79.0" max="79.0" step="any" value="{{latitude}}"/>
			<label for="longitude">Longitude</label>
			<input id="longitude" type="number" min="-180.0" max="180.0" step="any" value="{{longitude}}"/>
		</div>
	</div>
</div>