<h4>Time Series Processing Options</h4>
	
<div class="form-group">
	<label>Output Date Range</label>
	<div class="form-inline">
		<label for="output-start-date">Start:&nbsp;</label>
		<div class="input-group date" id="output-start-date-div" >
			<input type="text" id="output-start-date" class="form-control" size="10" val="{{startDate}}"/>
			<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
		</div>
		<label for="output-end-date">End:&nbsp;</label>
		<div class="input-group date" id="output-end-date-div">
			<input type="text" id="output-end-date" class="form-control" size="10"val="{{endDate}}"/>
			<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
		</div>
	</div>
</div>
<div class ="op-buttons-container">
	<button class="btn btn-info show-url-btn" type="button">Show data processing url</button>
	<button class="btn btn-primary get-data-btn" type="button">Get data (opens new tab)</button>
	<div class="url-container"><a href="#" target="_blank"></a></div>
</div>
