<td>{{variableParameter.name}}</td>
<td>{{variableParameter.colName}}</td>
<td><input type="checkbox" name="raw" /></td>
<td><input type="text" size="6" name="Mean" /></td>
<td><input type="text" size="6" name="Min"/></td>
<td><input type="text" size="6" name="Max"/></td>
<td><input type="text" size="6" name="Sum"/></td>
<td><input type="text" size="6" name="Diff"/></td>
<td><input type="text" size="6" name="MaxDifference"/></td>
<td><input type="text" size="6" name="StDev"/></td>
