<div class="hint-div">
	<em>
		Use this field to upload a shapefile to display on the map.
	</em>
</div>
<div class="form-group">
	<div class="upload-input-container">
		<span class="btn btn-primary fileinput-button">
			<i class="fa fa-upload"></i>
			<span>&nbsp;Select shapefile to display...</span>
			<!-- The file input field used as target for the file upload widget -->
			<input id="shpFileInput" type="file" name="qqfile">
		</span>
		<span class="upload-msg"></span>
	</div>
</div>