<div class="hint-div">
	<em>
		Use this field to upload a shapefile to select an area of interest.
	</em>
</div>
<span class="file-uploader-indicator"><i class="fa-3x fa fa-spinner fa-spin"></i></span>
<div class="upload-msg bg-warning"></div>
<div class="shpfile-content">
	<form enctype="multipart/form-data">
		<input id="shpFileInput" class="form-control" type="file" name="qqfile"/>
	</form>
</div>