<div class="hint-div">
	<em>
		Use this field to upload a shapefile to select an area of interest.
	</em>
</div>
<div class="test-content">
	<input id="fileInput" class="form-control" type="file" name="fileInput"/>
</div>