<nav class="navbar navbar-default">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#workflow-nav-collapse" aria-expanded="false">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="#">Menu</a>
	</div>
	<div class="collapse navbar-collapse" id="workflow-nav-collapse">
		 <ul class="nav navbar-nav">
			<li class="nav-project-loc" role="presentation"><a  href="#">Specify Project Location<i class="fa fa-map-marker fa-4x"></i></a></li>
			<li class="nav-choose-data" role="presentation"><a href="#">Choose Data<i class="fa fa-line-chart fa-4x"></i></a></li>
			<li class="nav-process-data" role="presentation"><a href="#">Process Data<i class="fa fa-cogs fa-4x"></i></a></li>
			<li class="nav-help" role="presentation"><a href="#">Help<i class="fa fa-question fa-4x"></i></a></li>
		</ul>
	</div>
</nav>
