<ul class="nav nav-pills nav-stacked">
	<li role="presentation"><a class="active" href="#">Specify Project Location<i class="fa fa-map-marker fa-4x"></i></a></li>
	<li role="presentation"><a href="#">Choose Data<i class="fa fa-line-chart fa-4x"></i></a></li>
	<li role="presentation"><a href="#">Process Data<i class="fa fa-cogs fa-4x"></i></a></li>
	<li role="presentation"><a href="#">Help<i class="fa fa-question fa-4x"></i></a></li>
</ul>