<nav class="navbar navbar-default">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#workflow-nav-collapse" aria-expanded="false">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="#">Menu</a>
	</div>
	<div class="collapse navbar-collapse" id="workflow-nav-collapse">
		 <ul class="nav navbar-nav">
			<li class="nav-specify-aoi" role="presentation"><a>Specify Project AOI<i class="fa fa-map-marker fa-4x"></i></a></li>
			<li class="nav-choose-data" role="presentation"><a>Choose Data<i>
				<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					viewBox="0 0 290 211" enable-background="new 0 0 290 211" xml:space="preserve">
					<polygon fill="#222222" points="23.5,187.5 23.5,2.4 3,2.4 3,187.5 3,208 23.5,208 287.1,208 287.1,187.5 "/>
					<circle fill="#222222" cx="59.5" cy="150.5" r="23.5"/>
					<circle fill="#222222" cx="135.5" cy="52" r="23.5"/>
					<circle fill="#222222" cx="175.1" cy="138.4" r="23.5"/>
					<circle fill="#222222" cx="263.6" cy="25.9" r="23.5"/>
					<polyline fill="none" stroke="#222222" stroke-width="9" points="59.5,150.5 135.5,52 175.1,138.4 263.6,25.9 "/>
				</svg></i></a>
			</li>
			<li class="nav-process-data" role="presentation"><a>Process Data<i class="fa fa-cogs fa-4x"></i></a></li>
			<li class="nav-data-sources dropdown" role="presentation">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" 
				   aria-haspopup="true" aria-expanded="false">
					Data Sources <span class="caret"></span><i class="fa fa-database fa-4x"></i>
				</a>
				<ul class="dropdown-menu">
					<li role="presentation"><a target="_blank" href="https://waterdata.usgs.gov/nwis">USGS Time Series (NWIS)</a></li>
					<li role="presentation"><a target="_blank" href="http://www.rcc-acis.org/">Applied Climate Information System (ACIS)</a></li>
					<li role="presentation"><a target="_blank" href="http://data.glos.us/glcfs/">Great Lakes Coastal Forecasting System (GLCFS)</a></li>
					<li role="presentation"><a target="_blank" href="https://cida.usgs.gov/thredds/catalog.html?dataset=cida.usgs.gov/thredds/stageiv_combined/">1 Hr National Precipitation Grid Points (PRECIP)</a></li>
					<li role="presentation"><a target="_blank" href="http://dd.weather.gc.ca/hydrometric/doc/hydrometric_README.txt">Environment Canada (ED)</a></li>
				</ul>
			</li>
			<li class="nav-help" role="presentation"><a href="userguide">Help<i class="fa fa-question fa-4x"></i></a></li>
		</ul>
	</div>
</nav>
<div class="modal fade nav-warning-modal" tabindex="-1" role="dialog" aria-labelledby="nav-warning-title">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="nav-warning-title">Navigation Warning</h4>
			</div>
			<div class="modal-body">
				Are you sure you want to go back to Specify Project AOI step? All data will be
				cleared.
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-warning ok-button">OK</button>
				<button type="button" class="btn btn-primary cancel-button" data-dismiss="modal">Cancel</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade choose-data-workflow-modal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="nav-warning-title">Select Workflow to Choose Data</h4>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label>Select workflow option:</label>
					<select class="form-control">
						<option></option>
						<option value="chooseDataBySiteFilters">Select from available variables one site at a time</option>
						<option value="chooseDataByVariables">Select variables for many sites by variable type</option>
					</select>
				</div>
			</div>
		</div>
	</div>
</div>
