@import "..//bower_components/bootstrap/less/bootstrap.less";
@import "../bower_components/font-awesome/less/font-awesome.less";

@fa-font-path : "../bower_components/font-awesome/fonts";
#header #banner-area {
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : small;
	background-image : url("../img/enddat_banner.jpg")
}
header {
	.make-row();
}
#main-content {
	.make-row();
}
footer {
	.make-row();
}
@import "dataDiscovery.less";
@import "workflowNav.less";
@import "location.less";