.workflow-nav ul {
	a {
		font-weight: normal;
		text-align: center;
		font-size: x-small;
		i {
			display: block;
			@media (max-width: @screen-sm-max) {
				display:none;
			}
			
		}
	}
	
	a.active {
		background-color: #345280;
		color: white;
	}
}

