/* application specific display */
#usgscolorband {
    background: url("../img/enddat_banner.jpg") no-repeat scroll 178px 0 #004499;
}
#tagline {
	margin: 3px 0px 5px 10px;
	font-size: medium;
}
h1 {font-size: 3em;
	margin: 1px 0;
	font: 18px Helvetica;
}

.scrollable{
	overflow: auto;
	width: 350px; /* adjust this width depending to amount of text to display */
	height: 300px; /* adjust height depending on number of options to display */
	border: 1px silver solid;
}
.scrollable select{
	border: none;
}

/* Google maps related */
#shape_b {
  width:31px;
  height:31px;
  background-image: url(http://google.com/mapfiles/ms/t/Bpu.png);
}
#shape_b.selected {
  background-image: url(http://google.com/mapfiles/ms/t/Bpd.png);
}
#hand_b {
  width:31px;
  height:31px;
  background-image: url(http://google.com/mapfiles/ms/t/Bsu.png);
}
#hand_b.selected {
  background-image: url(http://google.com/mapfiles/ms/t/Bsd.png);
}

.ui-state-default, .ui-corner-top{
	padding: 0.1em 0.1em;
}

#placemark_b {
    width:31px;
    height:31px;
    background-image: url(http://google.com/mapfiles/ms/t/Bmu.png);
}
#placemark_b.selected {
    background-image: url(http://google.com/mapfiles/ms/t/Bmd.png);
}

/*#usgsbanner {
	background-image: url(../img/CroppedBeach.jpg);
	background-repeat:no-repeat;
	background-position:left center;
	background-position: 180px 0px;
	background-color: #8da5c1;
}*/
