<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>enddat_web</display-name>

	<welcome-file-list>
		<welcome-file>Intro.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>dataDiscovery</servlet-name>
		<jsp-file>/dataDiscovery.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>dataDiscovery</servlet-name>
		<url-pattern>/datadiscovery</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EnddatServiceServlet</servlet-name>
		<servlet-class>gov.usgs.cida.proxy.AlternateProxyServlet</servlet-class>
		<init-param>
			<param-name>forward-url-param</param-name>
			<param-value>enddat.endpoint.service</param-value>
		</init-param>
		<init-param>
			<param-name>readTimeout</param-name>
			<param-value>300000</param-value>
		</init-param>
		<init-param>
			<param-name>connectTimeout</param-name>
			<param-value>300000</param-value>
		</init-param>
	</servlet>
    
	<servlet-mapping>
		<servlet-name>EnddatServiceServlet</servlet-name>
		<url-pattern>/service/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>NWISSiteServlet</servlet-name>
		<servlet-class>gov.usgs.cida.proxy.AlternateProxyServlet</servlet-class>
		<init-param>
			<param-name>forward-url-param</param-name>
			<param-value>enddat.endpoint.nwis.site</param-value>
		</init-param>
		<init-param>
			<param-name>readTimeout</param-name>
			<param-value>300000</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>NWISSiteServlet</servlet-name>
		<url-pattern>/waterService/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>STCodesServlet</servlet-name>
		<servlet-class>gov.usgs.cida.proxy.AlternateProxyServlet</servlet-class>
		<init-param>
			<param-name>forward-url-param</param-name>
			<param-value>enddat.endpoint.nwis.statcodes</param-value>
		</init-param>
		<init-param>
			<param-name>readTimeout</param-name>
			<param-value>300000</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>STCodesServlet</servlet-name>
		<url-pattern>/stcodes/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CidaThreddsServlet</servlet-name>
		<servlet-class>gov.usgs.cida.proxy.AlternateProxyServlet</servlet-class>
		<init-param>
			<param-name>forward-url-param</param-name>
			<param-value>enddat.endpoint.cidathredds</param-value>
		</init-param>
		<init-param>
			<param-name>readTimeout</param-name>
			<param-value>300000</param-value>
		</init-param>	
	</servlet>
	
	<servlet-mapping>
		<servlet-name>CidaThreddsServlet</servlet-name>
		<url-pattern>/cidathredds/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>shapefile-upload-servlet</servlet-name>
		<servlet-class>gov.usgs.cida.geoutils.geoserver.servlet.ShapefileUploadServlet</servlet-class>
		<init-param>
			<param-name>application.name</param-name>
			<param-value>enddat_web</param-value>
		</init-param>
		<init-param>
			<param-name>max.upload.file</param-name>
			<param-value>0</param-value>
		</init-param>
		<init-param>
			<param-name>geoserver.endpoint</param-name>
			<param-value>http://localhost:8081/geoserver/</param-value>
		</init-param>
		<init-param>
			<param-name>geoserver.username</param-name>
			<param-value>admin</param-value>
		</init-param>
		<init-param>
			<param-name>default.upload.workspace</param-name>
			<param-value>upload</param-value>
		</init-param>
		<init-param>
			<param-name>default.upload.storename</param-name>
			<param-value/>
		</init-param>
		<init-param>
			<param-name>default.srs</param-name>
			<param-value>EPSG:4326</param-value>
		</init-param>
		<init-param>
			<param-name>filename.param</param-name>
			<param-value/>
		</init-param>
		<init-param>
			<param-name>overwrite.existing.layer</param-name>
			<param-value/>
		</init-param>
		<init-param>
			<param-name>use.crs.failover</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>projection.policy</param-name>
			<param-value>reproject</param-value>
		</init-param>
	</servlet>
</web-app>
