<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>enddat_web</display-name>
    <welcome-file-list>
        <welcome-file>Intro.jsp</welcome-file>
    </welcome-file-list>

	<servlet>
		<servlet-name>dataDiscovery</servlet-name>
		<jsp-file>/dataDiscovery.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>dataDiscovery</servlet-name>
		<url-pattern>/datadiscovery/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EnddatServiceServlet</servlet-name>
		<servlet-class>gov.usgs.cida.proxy.AlternateProxyServlet</servlet-class>
		<init-param>
			<param-name>forward-url-param</param-name>
			<param-value>enddat.service-url</param-value>
		</init-param>
		<init-param>
			<param-name>forward-url</param-name>
			<param-value>http://localhost:8080/enddat-services/</param-value>
		</init-param>
		<init-param>
			<param-name>readTimeout</param-name>
			<param-value>300000</param-value>
		</init-param>
		<init-param>
			<param-name>connectTimeout</param-name>
			<param-value>300000</param-value>
		</init-param>
	</servlet>
    
	<servlet-mapping>
		<servlet-name>EnddatServiceServlet</servlet-name>
		<url-pattern>/service/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DebugProxyServlet</servlet-name>
		<servlet-class>gov.usgs.cida.proxy.PathPreservingProxyServlet</servlet-class>
		<init-param>
			<param-name>forward-url</param-name>
			<param-value>http://internal.cida.usgs.gov/glri/glos_portal_dev/debug/</param-value>
		</init-param>
		<init-param>
			<param-name>readTimeout</param-name>
			<param-value>300000</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>DebugProxyServlet</servlet-name>
		<url-pattern>/debug/proxy/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>NWISSiteServlet</servlet-name>
		<servlet-class>gov.usgs.cida.proxy.AlternateProxyServlet</servlet-class>
		<init-param>
			<param-name>forward-url</param-name>
			<param-value>http://waterservices.usgs.gov/nwis/site/</param-value>
		</init-param>
		<init-param>
			<param-name>readTimeout</param-name>
			<param-value>300000</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>NWISSiteServlet</servlet-name>
		<url-pattern>/waterService/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PMCodesServlet</servlet-name>
		<servlet-class>gov.usgs.cida.proxy.AuthIgnoringProxyServlet</servlet-class>
		<init-param>
			<param-name>forward-url</param-name>
			<param-value>http://nwis.waterdata.usgs.gov/nwis/pmcodes/pmcodes</param-value>
		</init-param>
		<init-param>
			<param-name>readTimeout</param-name>
			<param-value>300000</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>PMCodesServlet</servlet-name>
		<url-pattern>/pmcodes</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>STCodesServlet</servlet-name>
		<servlet-class>gov.usgs.cida.proxy.AuthIgnoringProxyServlet</servlet-class>
		<init-param>
			<param-name>forward-url</param-name>
			<!--<param-value>http://nwis.waterdata.usgs.gov/nwis/help/</param-value>-->
			<param-value>http://help.waterdata.usgs.gov/code/stat_code_query?fmt=rdb</param-value>
		</init-param>
		<init-param>
			<param-name>readTimeout</param-name>
			<param-value>300000</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>STCodesServlet</servlet-name>
		<url-pattern>/stcodes</url-pattern>
	</servlet-mapping>

    <error-page>
    	<error-code>500</error-code>
    	<location>/error.html</location>
    </error-page>
</web-app>
